
.lli{
    text-transform: capitalize;
    height: 80px;
    width: 650px;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: left;   
    font-weight:bold;
    border: 5px solid rgb(184, 184, 184);
}
.uli{
    padding: 5px;
}

button{
    margin-left: 592px;
    position:absolute;
    text-transform: capitalize;
    height: 80px;
    background-color: rgb(0, 132, 255);
    font-family: Arial, Helvetica, sans-serif; 
    text-align: left;   
    font-weight:bold;
}
button:hover{
    background-color:rgb(57, 155, 247);
    color: black;
   
    font-family: Arial, Helvetica, sans-serif;
     
    
}
.y{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color:rgb(0, 132, 255);
}

.line{
    height: 1px;
    width: 500px;
    background-color: black;
}

.labl{
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(0, 132, 255);
  }
  .labl2{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(0, 132, 255);
  }
  .lang{   
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 132, 255);
  }

  .back{
    position: absolute;
    width: 1500px;
    height: 1530px;
    font-family: century gothic;
    background-color:#333;
  }

  .text{
    font-family: Arial, Helvetica, sans-serif;
    color:whitesmoke; 
  }